@import './../../stylesSrc/mixins.scss';
@import './../../stylesSrc/vars.scss';
.teammate {
    display: grid;
    grid-template-columns: 191px minmax(min-content,316px);
    grid-template-rows: auto auto;
    align-content: center;
    grid-gap: 16px 34px;
    color: $f-color;
    @include media-column(540px){
      justify-items: center; 
      grid-gap: 10px;
    };


    &__picture {
      grid-area: 1/1/3/2;
      width: 191px;
    }
  
    &__name {
      font-family: $f-family;
      font-size: $f-size-2;
      line-height: $f-height-2;
      text-align: left;
      align-self: flex-end;
    }
  
    &__position {
      font-family: $f-family;
      font-size: $f-size-3;
      line-height: $f-height-3;
      text-align: left;
    }
  }