@import './../../styles/index.scss';

.difference {
  position: relative;
  &--primary {
    background-color: rgba(34, 153, 239, 1);
    color: #fff;

    &::before {
      content: url('./../../images/logo/Light.svg');
      @extend %logo-absolute;
    }
  }
  &--light {
    color: rgb(79, 79, 79);

    &::before {
      
      content: url('./../../images/logo/Dark.svg');
      @extend %logo-absolute;
    }
  }
  &--bg {
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    
    &::before {
      content: url('./../../images/logo/Light.svg');
      @extend %logo-absolute;
    }
  }
  &__container {
    min-height: 1080px;
    display: grid;
    align-content: flex-start;
    position: relative;
    @include padding-horizontal(1600px, 209px,  209px, min);
    @include padding-horizontal(1600px, 74px, 82px);
    @include padding-horizontal(1200px, 40px);
    @include padding-horizontal(768px, 20px);
    text-align: center;
  }

  &__title {
    margin: 147px auto 241px;
    color: #fff;
  }

  &__items {
  display: grid;
  grid-template-columns: repeat(3,344px);
  justify-content: space-between;
  margin-bottom: 147px;
  @include media(1200px){
    grid-template-columns: 1fr;
    row-gap: 60px;
  }

  }

  &__item {
    text-align: center;
  }
  &__subtitle {
    font-family: $f-family;
    font-size: $f-size-2;
    line-height: $f-height-2;
    font-weight: 700;
    margin:31px 0 22px 0;
    letter-spacing: 0;
  }

  &__paragraph {
    font-family: $f-family;
    font-size: 36px;
    line-height: 49px;
  }
}
