$f-color: rgb(79, 79, 79);
$f-family: "Nunito", sans-serif;

//72px
$f-size-1: 4.5rem;
$f-height-1: 5.5rem;
//48px
$f-size-2: 3rem;
$f-height-2: 4rem;


//34px
$f-size-3: 2.125rem;
$f-height-3: 2.875rem;



$blue-color: rgba(34, 153, 239, 1);


$tex-shadow: 2px 0 0 #73777a, -2px 0 0 hsl(206, 3%, 46%), 0 1px 0 #73777a,
  0 -2px 0 #73777a, 2px 2px #73777a, -2px -2px 0 #73777a, 2px -2px 0 #73777a,
  -2px 2px 0 #73777a;
