@import './../../styles/index.scss';

.blocks{
  @include padding-horizontal(1600px, 119px, 119px, min);
  @include padding-horizontal(1600px,82px);
  @include padding-horizontal(1200px, 40px);
  @include padding-horizontal(768px, 20px);
  display: grid;
  grid-row-gap: 30px;
  padding-bottom: 180px;

 

  &__title{
    font-size: $f-size-2;
     @include media(1200px){
      text-align: center;
  }
  }
  &__subtitle{
  font-size: 16px;
  line-height: $f-height-4;
  font-family: $f-family;
  color: $f-color;
  }
  &__table{
    border: solid 0.3px $f-color;
    padding: 10px;
    overflow: scroll;
    overflow: scroll;
    &::-webkit-scrollbar {
      height: 17px;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $f-color;
      border: solid $f-color;
      border-radius: 15px;
    }
  }
  &__options{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: flex-start;
    grid-gap: 1.5rem;
  }
}